@charset "UTF-8";

body {
    font-family: "メイリオ", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 440px;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* パスワード入力＋表示ボタン */
.password-wrapper {
    position: relative;
}

.password-wrapper input {
    flex: 1;
    padding: 10px;
    padding-right: 15em;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.show-btn {
    position: absolute;
    top: 50%;
    right: 0.75rem; /* 入力欄内の右端に少し余白 */
    transform: translateY(-70%);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.show-btn svg {
    display: block;
}

.show-btn:hover {
    text-decoration: underline;
}

/* 注意文 */
.condition {
    font-size: 13px;
    color: #e60000;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 1.3;
}

/* ボタンエリア */
.button-area {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

button.change-btn {
    width: 48%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #139cce;
    color: #fff;
    cursor: pointer;
}

button.back-btn {
    width: 48%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}
