body {

    font-family: sans-serif;

    text-align: center;

    background: #f7f7f7;

}

/* ヘッダー */

.header {

    background: #6bb6ff;

    padding: 10px;

    font-size: 22px;

    color: white;

    font-weight: bold;

    position: relative;

}

/* 右上のプロフィールアイコン */

.account-btn {

    position: absolute;

    right: 20px;

    top: 5px;

    cursor: pointer;

    font-size: 28px;

    color: white;

}

/* アクセス数表示ボックス */

.box {

    background: white;

    width: 300px;

    margin: 20px auto;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 8px #ccc;

}

/* メニューボタンを横並び */

.menu-buttons {

    display: flex;

    justify-content: center;

    gap: 150px;

    margin-top: 200px;

}

.menu-buttons form {

    margin: 0;
    
    width: 200px;

}

.menu-buttons form button {
	width: 100%;

    padding: 10px 0;

    border: none;

    border-radius: 8px;

    background: #6bb6ff;

    color: white;

    font-size: 24px;

    cursor: pointer;

    width: 200px !important;

}

/* 管理者情報ボックス */

.right-box {

    background: white;

    width: 250px;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 8px #ccc;

    position: fixed;

    right: 40px;

    top: 70px;

    display: none;

}

/* ログアウト */

.logout button {

    background: none;

    border: none;

    color: red;

    cursor: pointer;

    font-size: 14px;

}
 