/* ページ全体 */
.post-manage-page {
    display: flex;
    flex-direction: column;
    flex: 1; /* ← これが超重要 */
}

.post-manage-content {
    flex: 1;
    padding: 20px;
    padding-bottom: 100px; /* フッター分 */
}



/* 投稿なし */
.no-post {
    margin-top: 40px;
    font-size: 16px;
    color: #555;
}

/* 投稿 */
.post-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.post-header {
    display: flex;
    align-items: center;
}

.profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #999;
    margin-right: 10px;
}

.admin-footer {
    position: fixed;
    bottom: 0;
    left: 200px; /* サイドバー幅 */
    width: calc(100% - 200px);
    height: 70px;

    background: #e0f3f5;
    border-top: 1px solid #bcd;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 9999;
}



/* フッターボタン */
.footer-btn {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #333;
}

/* アイコン */
.footer-btn .icon {
    font-size: 22px;
    display: block;
}

/* HOME文字 */
.footer-btn .label {
    font-size: 12px;
    margin-top: 4px;
}
